  /* MENU */
#menu { cursor: pointer; background-color: var(--menu); }
@media(hover: hover) and (pointer: fine) {
  #menu:hover #menu_content { display: block; }
}

#menu_content { 
  display: none;
  width: 10rem;
  background-color: var(--menu);
  padding: 0.5rem 0.5rem 1.5rem; 
  font-size: 1rem;
  text-align: left;
  z-index: 10;
  position: relative;
}

.labelsButton { display: inline-block; margin: .5rem 0 .5rem .25rem;  }
.locButton { display: inline-block; width: 2.5rem; text-align: center; }

#menu .input_box > div { margin-top: .5rem; }

#box_options { display: block; }
#qmode { margin-top: 1rem; margin-bottom: 0; }

#box_question {
  position: absolute;
  display: block;
  visibility: hidden;
  background-color: white;
  min-width: 15rem;
  max-width: 30vw;
  border: 1px solid black;
  border-radius: 10px 10px 5px 5px;  
  left: 60vw;  
  top: 80vh;
  z-index: 10;
}

@media (orientation: portrait) {
  #box_question {   left: 10vw; top: 60vh; max-width: 80vw; }
  #alertBox { min-width: 80vw; left: 10vw; top: 10vh; }
}

@media (orientation: landscape;) {
  #box_question {   left: 60vw; top: 80vh; max-width: 15rem; }
  #alertBox { min-width: 60vw; left: 20vw; top: 20vh; }
}

#box_question { z-index: 10; }
#box_question > div:nth-child(1) { 
  background-color: var(--menu);
  border-radius: 10px 10px 0 0;
  padding: 0.25rem;
  font-weight: bold;
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,0.75);
}

#box_question div:nth-child(1) span { flex: 1; min-width: 1.5rem; }
#box_question div:nth-child(1) span:nth-child(1) { text-align: center; }
#box_question div:nth-child(1) span:nth-child(2) { text-align: center; flex: 20; cursor: move; }
#box_question div:nth-child(1) span:nth-child(4) { text-align: center;  }

#box_question p:nth-child(2) {
    padding: 0.5rem 1rem 1rem;
    margin: 0;
}
#box_question ul, #box_question ol { margin: 0; }

#qtext > section > div { display: block; }
#qprev0 { position: relative; }
#qprev { cursor: pointer; position: absolute; width: 4rem; height: 4rem; left: -1.5rem; top: -1.5rem; border-radius: 1rem; z-index: 100; background-color: rgba(0,255,0,0); }
#qnext0 { position: relative; }
#qnext { cursor: pointer; position: absolute; width: 4rem; height: 4rem; left: -1.5rem; top: -1.5rem; border-radius: 1rem; z-index: 100; background-color: rgba(255,0,0,0); }
#qarr0 { position: relative; display: none; }
#qArr { display: inline-block; cursor: pointer !important; width: 2rem; text-align: center; }
#qarr {  position: absolute; width: 3rem; height: 3rem; left: -0.5rem; top: -1rem; border-radius: 1rem; z-index: 100; background-color: rgba(0,0,255,0); }
#box_question_header > span:nth-child(1) { display: none; width: 4rem; }


#q_list button { padding: auto 0.5rem; }
#q_list ol { list-style-type: upper-alpha; columns: 2; cursor: pointer; }
#q_list ol[class~="columns1"] { columns: 1; }
#q_list ol[class~="columns2"] { columns: 2; }
#q_list ol[class~="columns3"] { columns: 3; }
#q_list ol[class~="columns4"] { columns: 4; }

#disabled { display: none; position: absolute; bottom: 2rem; padding-left: 1rem; color: red; font-size: 1.25rem; z-index: 5; }

input[type='number'] { width: 3rem; text-align: center; }

#alertBox { position: absolute; left: 20vw; width: auto; top: 20vh; display: none; z-index: 500;
            margin: 0; padding: 0; background-color: white; 
            border: 1px solid rgba(0,0,0,0.75); border-radius: 10px 10px 5px 5px; }
#alertBox p {
  padding: 0.5rem 1rem;
  margin: 0;
}
#alertBox_header { 
  cursor: move;
  background-color: var(--menu);
  border-radius: 10px 10px 0 0;
  padding: 0.25rem;
  font-weight: bold;
  text-align: right;
  padding-right: 0.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.75);
  position: relative;
}

#alertBox_header > span { position: relative; }
#alertBoxClose { cursor: pointer; 
position: absolute; left: 0; width: 2.5rem; height: 2.5rem; left: -1rem; top: -0.75rem; border-radius: 0.5rem; z-index: 100; background-color: rgba(0,0,255,0);

}


