html,body { 
  margin: 0; padding: 0;
  font-family: Calibri;
  background-color: #555555;
  color: dark-gray;
  font-size: 10.5pt;
}

.grid-container {
  display: grid;

  grid-template-areas: "a b b f"
                     "a c d f"
                     "a c e f";
  grid-template-columns:  1fr 3fr 2fr 1fr;
  grid-template-rows: auto 2fr 2fr;

  grid-gap: 10px;
  background-color: #555555;
  padding: 10px;
}

.grid-container > div { background-color: white; font-size: 1rem; font-variant-caps: petite-caps; }
.grid-container > div.side1, .grid-container > div.side2 { background-color: #555555; }

.side1 { grid-area: a; }
.side2 { grid-area: f; }
.title { grid-area: b; }
.scene { grid-area: c; }
.controls1 { grid-area: d; }
.controls2 { grid-area: e; }

#title { font-size: 2rem; padding: 0.75rem; padding-top: 0.75rem;  }
.sectionTitle { padding: 0.75rem; padding-top: 0.25rem; font-variant-caps: all-small-caps; }

.grid-container > div { background-color: white; font-size: 1.5rem; }

.grid > .scene {
  position: relative;
  width: 100%;
  height: 0;
}

#scene-container {
  width: calc(100%);
  height: 0;
  padding-bottom: calc(95%);
  position: relative;
}

.coordSlider { width: 100%; display: grid; grid-auto-rows: auto; grid-template-columns: 2fr 3fr 1rem; }
.coordSlider > div:nth-child(1) {
  margin-top: 1.5vh;
  white-space: nowrap;
  text-align: right; 
  justify-content: center;
  align-items: center; 
  padding: 0 .5rem; }
input[type='text'] { font-size: 1rem; width: 3rem; text-align: center; padding: 0 .25rem; } 
.coordSlider input[type='text'] { width: 2.5rem; }

.grid2 { display: grid; grid-template-columns: 1fr 2fr 1fr; margin-bottom: 4vh; margin-top: 4vh; }
.grid2 > div { }
.checkbox_box > div { white-space: nowrap; font-size: 1.5rem; }

.grid3 { display: grid; grid-template-columns: 1fr 2fr 0.5fr 2fr 1fr; }
.grid3 > div {  }
.grid3 button { display: block; padding: 0.25em .5rem; margin: 0 auto; font-size: 1rem; width: 90%; }

.sectionTitle { display: flex;  }
.sectionTitle span { display: inline-block; flex: 1; white-space: nowrap; padding-right: .25rem; }
.sectionTitle div { display: inline-block; flex: 20; padding-top: .12rem; }

.controls1a { grid-template-rows: 3fr 1fr 3fr; padding-top: 5rem; }
.controls1c { font-style: italic; font-size: 1rem; text-align: center; font-variant-caps: normal; }
.controls1d { display: none; }

/* css for touch screens */
@media only screen and (max-device-width: 48000px) {
  .grid-container {
  display: grid;

  grid-template-areas: "b" "c" "d" "e";
  grid-template-columns:  1fr;
  grid-template-rows: auto 2fr 1fr 1fr;

  grid-gap: 10px;
  background-color: #555555;
  padding: 10px;
}

.side1 { grid-area: a; display: none; }
.side2 { grid-area: f; display: none; }

.controls1d { display: block; font-style: italic; font-size: 1rem; text-align: center; font-variant-caps: normal; }
.controls1c { display: none; }


}

/* css for the slider is ornery */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  position: relative; top: 16px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}


